nav {
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkgreen;
    a {
    text-decoration: none;
    color:goldenrod;
   
    }
}